---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$body-background: #e0e0e0;

$section-heading-color: #a71111 ;

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  color: #363636;
  background: $body-background;
}

blockquote {
  font-size: 1em;
}

.container{
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff;
  width: 750px !important;
}

#photo-header{
  margin-top: -75px;
}
#photo{
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: $section-heading-color;
  display: inline-block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#photo img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
#text-header h1{
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  color: black;
}
#text-header h1 span{
  color:black;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px;
}
#text-header h1 sup{
  opacity: 0.5;
}
.box{
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.box h2{
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

#awards,
#education{
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
#awards:before,
#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 35px;
  top: 0;
  content: ' ';
  display: block;
  background: #B20A0A;
  background: -moz-linear-gradient(top,  #ffffff 0%, #B20A0A 7%, #B20A0A 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#B20A0A), color-stop(89%,#B20A0A), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#B20A0A 7%,#B20A0A 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#B20A0A 7%,#B20A0A 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#B20A0A 7%,#B20A0A 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#B20A0A 7%,#B20A0A 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#awards li,
#education li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
#awards .year,

a.edu{
color:black;
}
ul .list-group{
color:black;
}
#education .year{
  width: 75px;
  background: #fff;
  padding: 10px;
  font-weight: 700;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#awards .description,
#education .description{
  word-wrap: break-word;
  width: 80%;
  display: inline-block;
  margin-bottom: 10px;
  color:black;
  position: relative;
  padding: 10px;
}
#awards .description:after,

#awards .description h3,
#education .description h3{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#awards .description p,
#education .description p{
  margin-top: 5px;
  padding: 0;
}

.job{
  margin-bottom: 15px;
}
.job .details {
  margin-left: 3%;
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.job .where{
  font-size: 1.2em;
  font-weight: bold;
}
.job .year{
  opacity: 0.7;
}
.job .profession{
  font-size: 1.2em;
}
.job .description{
  line-height: 1.5em;
}
.job .highlights{
  padding: 5px 0;
  font-weight: bold;
}
.job .job-details {
  padding-left: 5%;
  width: 100%;
}
.publication {
  margin-bottom: 10px;
}
.publication .name{
  font-size: 1em;
  font-weight: bold;
}
.publication .year{
	opacity: 0.7;
}
.publication p{
  margin: 0;
  padding-top: 10px;
}

.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
  background: white;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  color: black;
}

.item-interests,
.item-skills{
  height: 30px;
  color: $section-heading-color!important;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: 600;
}
.interest,
.skill{
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #B20A0A;
  position: relative;
  font-size: .85em;
}
.skill-level {
  background-color: #227c74;
  border-radius: 4px;
  color: #fff;
  padding: 1px 8px;
  font-size: .75em;
  position: absolute;
  margin: 1px 10px;
}

#language-skills .skill{
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}			


div.col-print-6 {width:50%; float:left;}
div.print-hidden {display:none !important;}
div.print-show {display:inline !important;}

#myTopnav {
  display: none;
}

#job0 {
  display: inline !important; 
}

#edu0 {
  display: inline !important; 
}

#award0 {
  display: inline !important; 
}

body {
  font-size: 1.1em;
  -webkit-print-color-adjust: exact;
}

.box h2{
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-print-color-adjust: exact;
}

.container{
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fff;  
}

.contact-item{
  width: auto;
  float: left;
}

.contact-item .icon {
    padding: 5px;
    border-right: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    color: black;
    background: rgba(255, 255, 255, 0);
	font-size: 16px;
}

.contact-item .title{
  width: 100%;
  font-weight: 700;
  opacity: 1;
}
.contact-item .title.only{
  margin-top: 0px;
}

a[href]:after {
  content: none !important;
}

#photo{
	width: 124px;
	height: 124px;
	border-radius: 0%;
	background: #000000 !important;
	-webkit-print-color-adjust: exact;
	padding: 2px;
}

#photo img{
	width: 120px;
	height: 120px;
	border-radius: 0%;
}

.box {
  margin-bottom: -10px;
}
.col-sm-5{
  width: 40%;
  padding: 0 15px;
}

.col-sm-7{
  width: 60%;
  padding: 0 15px;
}

.skills .col-sm-offset-1,
.interests .col-sm-offset-1{
  margin-top: -10px;
  margin-bottom: 5px;
}

#education {
  margin: 0;
  margin-bottom: -20px;
  padding-top: 5px;
}
#awards:before,
#education:before {
  background: none;
}

#awards .description,
#education .description,
.job .details {
  width:100%;
  padding: 2px;
  margin-bottom: 0px;
}

.item-skills{
  height: 24px;
  padding: 5px 0px;
  margin-bottom: 0px;
}

.skilldetails{
}

.skills{
    padding-right: 0px;
    padding-left: 0px;
}

.publication,
.publication .panel-heading,
.publication .name{
  margin: 0;
  padding: 0 0px;
  border: none;
}
.publication .panel-body {
  padding: 0 10px;
  margin: 0;
}

.badge {
  margin: 0;
}

.list-group-item{
  border: none;
  margin: 0;
  padding: 5px 15px;
}
.list-group-item:after{
  font-family:FontAwesome;
  content: '\f121';
  position: absolute;
  top: 8px;
  right: 0;
  left: -1px;
  height: 0;
  width: 0;
  pointer-events: none;
 }

.fa-red:before { color:#a71111 !important; }

.fa-black:before { color:#000000 !important; }

.fa-grey:before { color:rgb(202, 176, 176) !important; }

.fa-yellow:before { color:#c9be29 !important; }

.fa-green:before { color:#6fb369 !important; }