---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overview of {{site.data.resume.basics.name}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/print.css">
	
	<script type="text/javascript">
		function toggleMe(a){
		var e=document.getElementById(a);
		if(!e)return true;
		if(e.style.display=="none"){
		e.style.display="block"
		}
		else{
		e.style.display="none"
		}
		return true;
		}
		
		function toggleMeClass(a){
		var e=document.getElementsByClassName(a);
		if(!e)return true;
		for (i = 0; i < e.length; i++) {
			if(e[i].style.display=="none"){
			e[i].style.display="block"
			}
			else{
			e[i].style.display="none"
			}
		}
		return true;
		}
	</script>
	
	    <!-- JQUERY -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	   
  </head>
    
	<div class="container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
	  
	  {% include header2.html %}
	  
	  <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">
	  
      <div class="row">
       
		<div class="col-xs-7"  style="margin-bottom:3px;" >
		
		  {% include skills2.html %}

          	  
		</div>
		
		<div class="col-xs-5"  style="margin-bottom:10px;" >
		
		  {% include education2.html %}

          	  
		</div>
		
		
	</div>
	
	<hr style="height: 1px; margin-bottom:10px; margin-top:5px ; border-color: #000000">
	
	<div class="row">
       

		<div class="col-xs-4 col-sm-4">

		  {% include workexperience4.html %}
		  
		  {% include publications2.html %}
		  	  
		</div>
		
		<div class="col-xs-4 col-sm-4">
		
		{% include community3.html %}
		
		  {% include awards2.html %}		
		  
		</div>
		
		<div class="col-xs-4 col-sm-4">
		
		  {% include projects3.html %}
		  
		</div>
		
		
		
		
		
	</div>
	
	<hr style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); page-break-after: always;">

		
  </body>
</html>
