<div class="box">
	<h2><i class="fa fa-quote-right ico"></i> Community Impact </h2>
	
	
	<div class="item-skills" style="margin-top:0px"><a href="https://scholar.google.com/citations?user=OWGKu6wAAAAJ&hl=en">Google Scholar Citations</a></div>
	
	<style type="text/css">
	
	.tg{margin: 0 auto; font-size: 12px;}
	.tg .tg-lqy6{text-align:right;vertical-align:top;}
	.tg .tg-9hbo{font-weight:bold;vertical-align:top;padding-right:50px;}
	
	
	</style>
	<table class="tg" >
	  <tr>
		<td class="tg-9hbo">Citations</th>
		<td class="tg-lqy6">1416</th>
	  </tr>
	  <tr>
		<td class="tg-9hbo">h-index</td>
		<td class="tg-lqy6">15</td>
	  </tr>
	  <tr>
		<td class="tg-9hbo">i10-index</td>
		<td class="tg-lqy6">15</td>
	  </tr>
	</table>
	
	
</div>
	