<div class="row">
<div class="col-xs-12 col-sm-3">
  <div id="photo-header">
	<!-- PHOTO (AVATAR) -->
	<div id="photo">
	  <img src="{{ site.data.resume.basics.picture }}" alt="avatar">
	</div>
	<div id="text-header" >
	  <h1>{{site.data.resume.basics.name}}<br>     <span>{{site.data.resume.basics.label}}</span>     </h1>
	</div>

  </div>
</div>

<div class="col-xs-12 col-sm-6" >
  <div class="box" style="margin-bottom:0;padding:0">
	<h2><i class="fa fa-user ico"></i> About</h2>
	<p>{{site.data.resume.basics.summary}}</p>
  </div>
</div>

<div class="col-xs-12 col-sm-3" >

	<div class="box clearfix" style="margin-bottom:0;padding:0">

	<h2><i class="fa fa-bullseye ico"></i> Contact</h2>
	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-map-marker fa-fw"></span></div>
	  <div class="title pull-right">{{site.data.resume.basics.location.address}}</div>
	  <div class="title pull-right">{{site.data.resume.basics.location.city}}, {{site.data.resume.basics.location.region}} {{site.data.resume.basics.location.postalCode}} {{site.data.resume.basics.location.countryCode}}</div>
	</div>


	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
	  <div class="title only pull-right">{{site.data.resume.basics.phone}}</div>
	</div>


	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
	  <div class="title only pull-right"><a href="mailto:{{site.data.resume.basics.email}}" target="_blank">{{site.data.resume.basics.email}}</a></div>
	</div>


	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-globe fa-fw"></span></div>
	  <div class="title only pull-right"><a href="{{site.data.resume.basics.website}}" target="_blank">{{site.data.resume.basics.website}}</a></div>
	</div>

	<!--
	{% for profile in site.data.resume.basics.profiles %}
	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
	  <div class="description pull-right"><b>{{profile.network}}:</b> <a href="{{profile.url}}" target="_blank">{{profile.username}}</a></div>
	</div>
	{% endfor %}
	-->
	</div>

</div>

</div>
