<div class="row">
	<div class="col-xs-4">
		<div id="photo-header" style="text-align: left; margin-top: 0px;">
			<!-- PHOTO (AVATAR) -->
			<div id="text-header">
				<h1 style="font-size:2.5em;margin-top: 10px;">{{site.data.unify.basics.name}}</h1>

				<h1 style="font-size:1.78em"> <span>{{site.data.unify.basics.label}}</span></h1>
			</div>

		</div>
	</div>

	<div class="col-xs-8" style="font-size: 1.1em;">

		<div class="box" style="margin-bottom:0;padding:0">

			<div class="col-xs-4" style="top:13px;">

				<ul class="fa-ul" style="--fa-li-margin: 0em;">

							
					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-envelope"></i></span>
						<a href="mailto:{{site.data.unify.basics.email}}" target="_blank">{{site.data.unify.basics.email}}</a>
					</li>
				</ul>

			</div>

		<div class="col-xs-8">

			<div class="col-xs-6" style="top:13px;">

				<ul class="fa-ul" style="--fa-li-margin: 0em;">

					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-mobile-screen"></i></span>{{site.data.unify.basics.phone}}</li>
							

				</ul>

			</div>
			
			<div class="col-xs-5" style="top:13px;">
				<ul class="fa-ul" style="--fa-li-margin: 0em;">

					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-map-location-dot"></i></span>Houston, TX</li>

				</ul>
			</div>

		    <a href="{{site.data.unify.basics.profiles[0].url}}" target="_blank"><img src="/images/LinkedIN.png" style="width:25px; position: absolute; right:0px; top:10px"></a> 

		</div>
		
			<!--
		{% for profile in site.data.resume.basics.profiles %}
		<div class="contact-item">
		<div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
		<div class="description pull-right"><b>{{profile.network}}:</b> <a href="{{profile.url}}" target="_blank">{{profile.username}}</a></div>
		</div>
		{% endfor %}
		-->
		</div>

	</div>


	<div class="col-xs-8">
		<div class="box" style="margin-top:12px;margin-bottom:0;padding:0">
			<p> Full stack <b>Research Data Scientist</b> with <b>10 years</b> of experience architecting and deploying:
				<br>
				<b>-</b> custom tailored machine learning and image processing algorithms, customer facing apps. <br>
				<b>-</b> cloud data, network, security and compute infrastructure to deploy scalable products.
			</p>
		</div>
	</div>


</div>