<div class="row">
	<div class="col-xs-4">
		<div id="photo-header" style="text-align: left; margin-top: 0px;">
			<!-- PHOTO (AVATAR) -->
			<div id="text-header">
				<h1 style="font-size:2.5em;margin-top: 10px;">{{site.data.unify.basics.name}}</h1>

				<h1 style="font-size:1.78em"> <span>{{site.data.unify.basics.label}}</span></h1>
			</div>

			<div style="left: 0px; position: relative;">

				<p
					style="border: 1px solid #a71111; font-size: 2em; float:left; padding:0px 3px 0px 3px; margin: 8px 5px 5px 1px; color: #a71111 !important;">
					<b style="color: #a71111 !important;">PhD</b></p>

				<p
					style="border: 1px solid #6fb369; font-size: 2em; float:left; padding:0px 3px 0px 3px; margin: 8px 5px 5px 5px; color: #6fb369 !important;">
					<b style="color: #6fb369 !important;">Green Card</b></p>

			</div>

		</div>
	</div>

	<div class="col-xs-8" style="font-size: 1.1em;">

		<div class="box" style="margin-bottom:0;padding:0">

			<div class="col-xs-4" style="top:13px;">

				<ul class="fa-ul" style="--fa-li-margin: 0em;">

					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-mobile-screen"></i></span>{{site.data.unify.basics.phone}}</li>
					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-envelope"></i></span>
						<a href="mailto:{{site.data.unify.basics.email}}" target="_blank">{{site.data.unify.basics.email}}</a>
					</li>				

				</ul>

			</div>

		<div class="col-xs-8">

			<div class="col-xs-6" style="top:13px;">

				<ul class="fa-ul" style="--fa-li-margin: 0em;">

					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-globe"></i></span>
						<a href="{{site.data.unify.basics.website}}" target="_blank">ahmetcecen.com</a>
					</li>
					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-house-laptop"></i></span>Hybrid, Remote</li>

				</ul>

			</div>
			
			<div class="col-xs-5" style="top:13px;">
				<ul class="fa-ul" style="--fa-li-margin: 0em;">

					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-map-location-dot"></i></span>Houston, TX</li>
					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-plane-departure"></i></span>Will Relocate</li>

				</ul>
			</div>

		    <a href="{{site.data.unify.basics.profiles[0].url}}" target="_blank"><img src="/images/LinkedIN.png" style="width:34px; position: absolute; right:0px; top:17px"></a> 

		</div>
		
			<!--
		{% for profile in site.data.resume.basics.profiles %}
		<div class="contact-item">
		<div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
		<div class="description pull-right"><b>{{profile.network}}:</b> <a href="{{profile.url}}" target="_blank">{{profile.username}}</a></div>
		</div>
		{% endfor %}
		-->
		</div>

	</div>


	<div class="col-xs-8">
		<div class="box" style="margin-top:12px;margin-bottom:0;padding:0">
			<p> Full stack <b>Research Scientist</b> with <b>10 years</b> of experience architecting and deploying:
				<br>
				<b>-</b> custom tailored machine learning and image processing algorithms, customer facing apps. <br>
				<b>-</b> cloud data, network, security and compute infrastructure to deploy scalable products.
			</p>
		</div>
	</div>


</div>