<div class="row">
<div class="col-xs-4">
  <div id="photo-header" style="text-align: center; margin-top: 0px;">
	<!-- PHOTO (AVATAR) -->
	<div id="text-header">
	  <h1 style="font-size:2.4em;margin-top: 10px;">{{site.data.resume.basics.name}}</h1>
	  
	  <h1 style="font-size:1.78em"> <span >{{site.data.resume.basics.label}}</span></h1>
	</div>
	
	<div style="left: 50px; position: relative;">
	
		<p style="border: 1px solid #a71111; font-size: 2em; float:left; padding:0px 3px 0px 3px; margin: 8px 5px 5px 5px; color: #a71111 !important;"><b style="color: #a71111 !important;">PhD</b></p>
		
		<p style="border: 1px solid #a71111; font-size: 2em; float:left; padding:0px 3px 0px 3px; margin: 8px 5px 5px 5px; color: #a71111 !important;"><b style="color: #a71111 !important;">EB1</b></p>

	</div>

  </div>
</div>

<div class="col-xs-8" >

	<div class="box clearfix" style="margin-bottom:0;padding:0">

	<div class="contact-item" style="margin-top:10px">
	  <div class="icon pull-left text-center"><span class="fa fa-map-marker fa-fw"></span></div>
	  <div class="title ">{{site.data.resume.basics.location.address}}</div>
	  <div class="title ">{{site.data.resume.basics.location.city}}, {{site.data.resume.basics.location.region}} {{site.data.resume.basics.location.postalCode}} {{site.data.resume.basics.location.countryCode}}</div>
	</div>

	<div class="contact-item" style="position:relative; top:5px; width:180px; height:70px;">
	  <div class="icon pull-left text-center" style="padding-top:0px; height:2px;"><span class="fa fa-phone fa-fw"></span></div>
	  <div class="title only" style="margin-top:2px; height:25px; ">{{site.data.resume.basics.phone}}</div>	
	  <div class="icon pull-left text-center" style="position:relative;height:2px; top:-12px;"><span class="fa fa-envelope fa-fw"></span></div>
	  <div class="title only" style="margin-top:7px; height:25px; position:relative;top:-12px;"><a href="mailto:{{site.data.resume.basics.email}}" target="_blank">{{site.data.resume.basics.email}}</a></div>
	  <div class="icon pull-left text-center" style="position:relative; height:2px; top:-24px;"><span class="fa fa-globe fa-fw"></span></div>
	  <div class="title only" style="margin-top:7px; height:25px; position:relative;top:-24px;"><a href="{{site.data.resume.basics.website}}" target="_blank">ahmetcecen.tech</a></div>
	</div>
	
	<div class="contact-item" style="position:relative; left:10px; top: 18px; width:30px; height:70px;"><a href="https://www.linkedin.com/in/ahmet-cecen-1693b419/">
		<li-icon type="app-linkedin-bug-color-icon" size="large" role="img" aria-label="LinkedIn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="rgb(10, 102, 194)" class="mercado-match" width="32" height="32" focusable="false">
		<path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
		</svg></li-icon></a>
	</div>
	
	<div class="contact-item" style="width:60px; float:right">
		<img src="/images/qr.jpg" style="width:69px">
	</div>
	<!--
	{% for profile in site.data.resume.basics.profiles %}
	<div class="contact-item">
	  <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
	  <div class="description pull-right"><b>{{profile.network}}:</b> <a href="{{profile.url}}" target="_blank">{{profile.username}}</a></div>
	</div>
	{% endfor %}
	-->
	</div>

</div>


<div class="col-xs-8" >
  <div class="box" style="margin-bottom:0;padding:0">
	<p> Full stack <b>Research Data Scientist</b> with <b>13 years</b> of experience architecting and deploying: <br> 
<b>-</b> custom tailored machine learning and image processing algorithms, customer facing apps. <br> 
<b>-</b> cloud data, network, security and compute infrastructure to deploy scalable products.</p>
  </div>
</div>


</div>