<!-- PUBLICATIONS -->
<div class="box">
<h2><i class="fa fa-book ico"></i> Journal Articles</h2>
{% assign count = 0 %}
{% for article in site.data.articles %}
<div class="publication panel panel-default">
  <div class="panel-heading" onclick="return toggleMe('article{{ count }}')">
	<div class="name panel-title">{{count | plus:1}}. {{article.Title}} <a href="https://scholar.google.com/scholar?hl=en&q={{article.Title}}" target="_blank"><i class="fa fa-globe ico"></i></a> </div> 
  </div>
  <div id="article{{ count }}" class="" style="padding-left:15px;padding-right:15px;padding-bottom:15px;display: none;">
  
    <div><p>{{article.Authors}}</p></div>
	<div class="publisher"><b>{{article.Publication}}</b> - {{article.Year}}</div>
	
  </div>
</div>
{% assign count = count | plus:1 %}
{% endfor %}
</div>