<!-- SKILLS -->

<style>
	span.keyworditem {
		background-color: rgb(255, 255, 255) !important;
		border: 1px solid #000;
		border-radius: 5px;
		padding: 3px;
		margin: 2px;
		margin-bottom: 5px;
		color: #000 !important;
		text-align: center;
		font-weight: bold;
	}

	p.keywordheader {
		margin-bottom: 5px;
	}

	.topic-item {
		padding: 2px 15px !important;
		color: #000 !important;
	}

	.topic-item:after {
		top: 6px !important;
	}

	.progresscustom {
		height: 10px;
		padding: 5px;
		width: 10px;
		display: inline-block;
		margin-left: 0px;
		margin-top: 6px;
		height: 100%;
	}

	.red {
		background-color: #a71111 !important;
	}

	.gray {
		background-color: rgb(202, 176, 176) !important;
	}

</style>


<!--div class="box" onclick="return toggleMeClass('skilldetails');"-->
<div class="box col-xs-4">
	<h2><i class="fa fa-tasks ico"></i> Skills </h2>

	<div class="col-xs-12 skills clearfix">
		{% assign countx = 0 %}
		{% for stack in site.data.unify.stacks limit:1 %}
		<div class="col-xs-12 skills clearfix">

			<div class="col-xs-12 skills clearfix skilldetails">
				<!--style="display: none;"-->

				<ul class="fa-ul" style="--fa-li-margin: 1.5em; margin-top:8px">
					{% assign county = 0 %}
					{% for keyword in stack.subject limit:8 %}


					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-book"></i></span>{{ keyword }}</li>


						{% assign county = county | plus:1 %}
					{% endfor %}
				</ul>

			</div>

			<!--<div class="col-xs-4 skills clearfix skilldetails" style="
		margin-bottom: 5px;">

				{% assign county = 0 %}
				{% for level in stack.proficiency %}
					<div class="clearfix skilldetails">
						{% for i in (1..5) %}
							{% if i <= level %} 
								<div class="progresscustom red"></div>
							{% else %}
								<div class="progresscustom gray"></div>
							{% endif %}
						{% endfor %}
					</div>
					{% assign county = county | plus:1 %}
				{% endfor %}
			</div>-->
		</div>
	</div>

	{% assign countx = countx | plus:1 %}
	{% endfor %}

</div>

<div class="box col-xs-8">
	<h2><i class="fa fa-keyboard ico"></i> Stack </h2>

	<div class="col-xs-4 skills clearfix">
		{% assign countx = 0 %}
		{% for stack in site.data.unify.stacks offset:1 limit:1 %}
		<div class="col-xs-12 skills clearfix">
			<div class="item-skills" style="margin-top:1px; color:#000 !important">
				<b>{{stack.subtopic}}</b>
			</div>

			<div class="col-xs-6 skills clearfix skilldetails">
				<!--style="display: none;"-->

				<ul class="fa-ul" style="--fa-li-margin: 1.5em;">
					{% assign county = 0 %}
					{% for keyword in stack.subject %}


					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-terminal"></i></span>{{ keyword }}</li>


					{% assign county = county | plus:1 %}
					{% endfor %}
				</ul>

			</div>

			<div class="col-xs-5 skills clearfix skilldetails" style="
		margin-bottom: 5px;">
				<!--style="display: none;"-->

				{% assign county = 0 %}
				{% for level in stack.proficiency %}
					<div class="clearfix skilldetails" style="margin-top: 2.0px;">
						{% for i in (1..5) %}
							{% if i <= level %} 
								<i class="fa-red fa-solid fa-square"></i>
							{% else %}
								<i class="fa-red fa-regular fa-square"></i>
							{% endif %}
						{% endfor %}
					</div>
					{% assign county = county | plus:1 %}
				{% endfor %}

			</div>
		</div>
	{% assign countx = countx | plus:1 %}
	{% endfor %}
	</div>

	<div class="col-xs-4 skills clearfix">
		{% assign countx = 0 %}
		{% for stack in site.data.unify.stacks offset:2 limit:1 %}
		<div class="col-xs-12 skills clearfix">
			<div class="item-skills" style="color:#000 !important">
				<b>{{stack.subtopic}}</b>
			</div>

			<div class="col-xs-6 skills clearfix skilldetails">
				<!--style="display: none;"-->

				<ul class="fa-ul" style="--fa-li-margin: 1.5em">
					{% assign county = 0 %}
					{% for keyword in stack.subject %}


					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-cloud"></i></span>{{ keyword }}</li>


					{% assign county = county | plus:1 %}
					{% endfor %}
				</ul>

			</div>

			<div class="col-xs-5 skills clearfix skilldetails" style="
			margin-bottom: 5px;">
				<!--style="display: none;"-->

				{% assign county = 0 %}
				{% for level in stack.proficiency %}
				<div class="clearfix skilldetails" style="margin-top: 2.0px;">
					{% for i in (1..5) %}
						{% if i <= level %} 
							<i class="fa-red fa-solid fa-square"></i>
						{% else %}
							<i class="fa-red fa-regular fa-square"></i>
						{% endif %}
					{% endfor %}
				</div>
				{% assign county = county | plus:1 %}
				{% endfor %}
			</div>
		</div>
		{% assign countx = countx | plus:1 %}
		{% endfor %}
	</div>	

	<div class="col-xs-4 skills clearfix">
		{% assign countx = 0 %}
		{% for stack in site.data.unify.stacks offset:3 limit:1 %}
		<div class="col-xs-12 skills clearfix">
			<div class="item-skills" style="color:#000 !important">
				<b>{{stack.subtopic}}</b>
			</div>

			<div class="col-xs-7 skills clearfix skilldetails">
				<!--style="display: none;"-->

				<ul class="fa-ul" style="--fa-li-margin: 1.5em">
					{% assign county = 0 %}
					{% for keyword in stack.subject %}


					<li style="padding-top: 2px;"><span class="fa-li"><i class="fa-black fa-solid fa-database"></i></span>{{ keyword }}</li>


					{% assign county = county | plus:1 %}
					{% endfor %}
				</ul>

			</div>

			<div class="col-xs-5 skills clearfix skilldetails" style="
			margin-bottom: 5px;">
				<!--style="display: none;"-->

				{% assign county = 0 %}
				{% for level in stack.proficiency %}
				<div class="clearfix skilldetails" style="margin-top: 2.0px;">
					{% for i in (1..5) %}
						{% if i <= level %} 
							<i class="fa-red fa-solid fa-square"></i>
						{% else %}
							<i class="fa-red fa-regular fa-square"></i>
						{% endif %}
					{% endfor %}
				</div>
				{% assign county = county | plus:1 %}
				{% endfor %}
			</div>
		</div>
		{% assign countx = countx | plus:1 %}
		{% endfor %}
	</div>	

</div>