<div class="row" style="font-size: 1.3em; font-weight: bold;">

  <div class="col-xs-12" style="margin-bottom:4px;">

    <div class="col-xs-1" style="margin-bottom:4px;">

      <a href="/">Home</a>

    </div>

    <div class="col-xs-3" style="margin-bottom:4px;">

      <a href="/blog/">Academic Blog</a>

    </div>

    <div class="col-xs-7" style="margin-bottom:4px;">

    </div>

    <!--<div class="col-xs-1" style="margin-bottom:4px;">

      <a href="/print/">Print</a>

    </div>-->

  </div>

</div>